@font-face {
	font-family: "Code Next";
	src: url("../assets/fontfabric_-_code_next_extrabold_italic-webfont.woff2")
			format("woff2"),
		url("../assets/fontfabric_-_code_next_extrabold_italic-webfont.woff")
			format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Code Next";
	src: url("../assets/fontfabric_-_code_next_extrabold-webfont.woff2")
			format("woff2"),
		url("../assets/fontfabric_-_code_next_extrabold-webfont.woff2")
			format("woff");
	font-weight: bold;
	font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$light-1: rgb(239, 230, 255);
$light-2: rgb(255, 220, 242);
$dark-1: rgb(28, 25, 31);
$dark-2: rgb(24, 20, 22);
$accent-1: rgb(140, 0, 255);
$accent-2: rgb(255, 0, 106);
$punch-1: rgb(255, 230, 0);
$punch-2: rgb(0, 255, 255);

$ff-code: "Code Next", sans-serif;
$ff-norm: "Public Sans", sans-serif;

body {
	font-family: $ff-norm;
}
